.medical-profile-page {
  .wrapper-paginate {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 767px){
  .ant-form-item {
    margin-bottom: 10px!important;
  }
}