@import "assets/css/variables";

.icon-in-custom {
  font-size: 1.5em;
  color: $aside-menu-color !important;
}
.icon-out-custom {
  font-size: 1.5em;
  color: red !important;
}
.header-custom {
  background-color: $header-background-color;
  padding: 10px 10px 5px 10px;
}
.table-header {
  background-color: #cfe8ff;
  padding: 8px;
  .ant-form-item,
  h1 {
    margin-bottom: 0;
  }
}
.rowModal {
  padding: 15px 24px;
  display: flex;
  justify-content: space-between;

  .completed {
    color: $text-primary-color;
  }
  .pending {
    color: orangered;
  }
}
.rowModal-add{
  padding: 15px 24px;
  :nth-child(1){
    font-weight: 600;
  }
}
.rowModal-color {
  background-color: #f1f6fb;
}
.display-none{
  display: none;
}