$base-font: "Roboto", sans-serif;

$aside-menu-background: #003366;
$aside-menu-color: #038fdd;

$text-primary-color: #038fde;
$success-color: #52c41a;

$header-background-color: #cfe8ff;

$header-menu-color: #f9354c;
