@import "assets/css/variables";

.detail-gen{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    .detail-img{
       width: 300px;
    }
    .detail-info{
        padding: 15px;
        p{
            color: $text-primary-color;
        }
    }
}

@media screen and (max-width: 768px) {
    .detail-gen {
        flex-direction: column;
        text-align: center;
        .detail-img{
            width: 100%;
         }
    }
  
  }