.filter {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #ffffff;
  color: #ffffff;
  &:last-child {
    padding-right: 0;
    border-right: none;
  }
  &.active {
    font-weight: bold;
    text-decoration: underline;
  }
}
