.profile-header-container {
  height: 300px;
  color: white;
  position: relative;
  margin: -21px -20px -58px;

  .profile-info-wrapper {
    position: absolute;
    margin: 50px 0 0 50px;
    display: flex;

    .profile-avatar {
      .profile-img {
        width: 150px;
        height: 150px;
        border-radius: 100%;
      }
    }

    .profile-info {
      margin-left: 30px;
      margin-top: auto;
      margin-bottom: auto;
      line-height: 40px;

      .profile-name {
        font-weight: 300;
        font-size: 24px;
        line-height: 1.3;
      }

      .profile-id {
        font-size: 18px;
        word-break: break-word;
      }

      .profile-verify-code {
        font-size: 17px;
      }
    }
  }
}

.profile-body-container {
  z-index: 2;
  .profile-card {
    padding: 10px;
  }
}

.form-info {
  .input-field-label {
    margin-bottom: 5px;
    display: block;
    color: #7b7b7b;
    font-size: 16px;
    font-weight: lighter;
    span {
      color: red;
    }
  }
}

.primary-button {
  background-color: #ffffff !important;
  border-color: #f9354c !important;
  border-width: 1 !important;
  color: #f9354c !important;
  font-size: 16px !important;
  font-weight: bold !important;
  &:hover {
    background-color: #f9354c !important;
    color: blanchedalmond !important;
  }
}

.update-profile-modal {
  .ant-modal-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #f9354c;
    text-transform: uppercase;
  }
  .ant-modal-close-x {
    display: none;
  }
  .ant-modal-body {
    .ant-form-item-control-input-content {
      justify-content: center;
      align-items: center;
    }
  }
}
.profile-button {
  background-color: #ffffff !important;
  border-color: #f9354c !important;
  border-width: 1 !important;
  width: 40% !important;
  color: #f9354c !important;
  font-size: 16px !important;
  font-weight: bold !important;
  &:hover {
    background-color: #f9354c !important;
    color: blanchedalmond !important;
  }
}

.button-left {
  float: left;
}

.button-right {
  float: right;
}

.report-content {
  .report-card {
    background-color: rgba($color: #200000, $alpha: 0.18);
    &.ant-card-bordered {
      border-color: transparent;
      overflow: hidden;
    }
    .ant-card-head {
      color: #ffffff;
      border-color: rgba($color: #ff0000, $alpha: 0.3);
    }
    .ant-card-body {
      padding: 0;
      .gx-media-body {
        padding: 24px;
        .profile-title {
          font-size: 14px;
          color: #ffffff;
        }
        .profile-content {
          font-size: 14px;
          color: #ffffff;
        }
      }
      .ant-pagination-options {
        .ant-select-selector {
          background: rgba($color: #4c0a0e, $alpha: 0.5);
          border-color: rgba($color: #4c0a0e, $alpha: 1);
          color: #fff;
        }
        .anticon-down {
          color: #fff;
        }
        .ant-select-dropdown {
          color: #fff;
          background: rgba($color: #4c0a0e, $alpha: 1);
          border-color: rgba($color: #4c0a0e, $alpha: 0.5);
          .ant-select-item-option-content {
            color: #fff;
          }
          .ant-select-item-option-active,
          .ant-select-item-option-selected {
            border-color: rgba($color: #f9354c, $alpha: 1);
            background-color: #f9354c;
            color: #fff;
          }
        }
      }
      .ant-pagination-item {
        background: rgba($color: #4c0a0e, $alpha: 0.5);
        border-color: rgba($color: #4c0a0e, $alpha: 1);

        &:hover,
        &.ant-pagination-item-active {
          border-color: rgba($color: #f9354c, $alpha: 1);
          background-color: #f9354c;
          color: #fff;
        }
      }
      a {
        background-color: rgba($color: #4c0a0e, $alpha: 0.5);
        border-color: #f9354c;
        border-width: 1px;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        &:hover {
          border-color: rgba($color: #f9354c, $alpha: 1);
          background-color: #f9354c;
          color: #fff;
        }
      }
      button {
        background-color: rgba($color: #4c0a0e, $alpha: 0.5);
        border-color: rgba($color: #4c0a0e, $alpha: 1);
        border-width: 1px;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        &:hover {
          border-color: rgba($color: #f9354c, $alpha: 1);
          background-color: #f9354c;
          color: #fff;
        }
      }
    }
    .account-info-wrapper {
      padding: 14px 24px;
      .account-info-icon {
        color: #ffffff;
      }
      .account-info-title {
        font-size: 14px;
        color: #ffffff;
      }
      .account-info-content span {
        font-size: 14px;
        color: #ffffff;
      }
    }
  }
}

.button-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.gx-profile-banner-avatar {
  position: relative;

  .mask-upload {
    visibility: hidden;
    position: absolute;
    transition: all 400ms linear;
    opacity: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: #00000036;
    display: flex;
    justify-content: center;
    cursor: pointer;

    i {
      font-size: 30px;
    }
  }

  &:hover .mask-upload {
    visibility: visible;
    transition: all 400ms linear;
    opacity: 1;
  }
}

.p-20 {
  padding: 20px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.account-info-wrapper {
  display: flex;

  .account-info-icon {
    width: 30px;
    font-size: 18px;
  }

  .account-info {
    .account-info-title {
    }

    .account-info-content {
    }
  }
}

.br-10 {
  border-radius: 10px;
}

.m-all-20 {
  margin: 20px 0 20px 0 !important;
}

.profile-tabs {
  .profile-title {
    color: #8c8c8c !important;
    font-size: 12px;
  }

  .profile-content {
    font-size: 14px;
  }
}

.card-link-content {
  color: #1890ff;
  cursor: pointer;
}

.subscription-wrapper {
  margin-top: 25px;
  text-align: center;
  color: white;
  border-radius: 20px;

  .subscription-header {
    background-color: #1383d6;
    border-radius: 10px 10px 0 0;

    .subscription-header-title {
      font-size: 30px;
      padding-top: 25px;
    }

    .subscription-header-content {
      font-size: 25px;
      padding-bottom: 25px;
    }
  }

  .subscription-body {
    background-color: #4bbdf3;
    border-radius: 0 0 10px 10px;

    .subscription-content {
      .subscription-content-item {
        padding: 10px;

        &:first-child {
          padding-top: 40px;
        }

        &:last-child {
          padding-bottom: 40px;
        }
      }
    }

    .subscription-button {
      color: white;
      background-color: #1383d6;
      border-color: transparent;
      margin-bottom: 50px;
      border-radius: 5px;
    }
  }
}

.m-r-20 {
  margin-right: 20px;
}

.st-action-tb {
  a {
    padding: 0 5px 0 5px;
  }
}

@media only screen and (max-width: 767px) {
  .profile-info-wrapper {
    margin: 30px !important;
    .ant-avatar {
      width: 50px !important;
      height: 50px !important;
      line-height: 50px !important;
      font-size: 25px !important;
    }
  }
  .profile-body-container {
    margin-top: 34px;
  }
}

@media only screen and (max-width: 321px) {
  .profile-body-container {
    margin-top: 114px;
  }
}
