@import "assets/css/variables";

.ant-menu-submenu-arrow {
  opacity: 0;
}

.menu-sub_title {
  display: flex;
  justify-content: space-between;
}

.ant-menu-submenu-vertical .menu-sub_title {
  padding: 0px !important;
  justify-content: center;
}
.ant-layout-sider-collapsed {
  max-width: 90px !important;
  min-width: 90px !important;
  .sidebar-info {
    display: none;
  }
}

.mode-drawer-custom {
  .ant-drawer-content {
    background: #fff;
    .ant-drawer-body {
      padding: 0px 0px 140px 0px;
      .logo-area {
        height: 70px;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          height: 55px;
        }
      }
      .wrapper-profile {
        color: $aside-menu-color;
        padding: 30px 16px 30px 24px;
        font-size: 17px;
        display: flex;
        border-bottom: 1px solid $aside-menu-color;
        .info {
          .logout {
            cursor: pointer;
          }
        }
      }
      .sidebar-menu-custom {
        background: transparent;
        color: $aside-menu-color;

        .menu-sub-custom {
          font-size: 17px;

          .ant-menu-sub {
            background: transparent;
            .link-sidebar {
              font-size: 17px;
              color: $aside-menu-color;
            }
            .ant-menu-item-selected {
              background: transparent;
              .link-sidebar {
                color: white;
              }
            }
          }
        }
      }

      .menu-item-custom {
        .link-sidebar {
          font-size: 17px;
          color: $aside-menu-color;
        }
        .ant-menu-item-selected {
          background: transparent;
          .link-sidebar {
            color: white;
          }
        }
      }
    }
  }
  .ant-menu-inline-collapsed {
    width: 90px !important;
  }

  .menu-item-custom.ant-menu-item-selected {
    background: transparent !important;
    .link-sidebar {
      color: white !important;
    }
  }
}

.sidebar-custom {
  background: linear-gradient(325deg, #3739a2 0%, #00407d 50%) !important;

  .logo-area {
    height: 70px;
    background: white;
    display: flex;
    align-items: center;
    border-right: 1px solid #e9e9e9;
    justify-content: center;
    img {
      height: 55px;
    }
  }
  .wrapper-profile {
    color: $aside-menu-color;
    padding: 30px 16px 30px 24px;
    font-size: 17px;
    display: flex;
    border-bottom: 1px solid $aside-menu-color;
    .info {
      .logout {
        cursor: pointer;
      }
    }
  }

  .sidebar-menu-custom {
    background: transparent;
    color: $aside-menu-color;
    max-height: calc(100% - 310px) !important;
    overflow: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 1em;
    }
    .menu-sub-custom {
      font-size: 17px;

      .ant-menu-sub {
        background: transparent;
        .link-sidebar {
          font-size: 17px;
          color: $aside-menu-color;
        }
        .ant-menu-item-selected {
          background: transparent;
          .link-sidebar {
            color: white;
          }
        }
      }
    }
  }

  .ant-menu-inline-collapsed {
    width: 90px !important;
  }

  .menu-item-custom {
    .link-sidebar {
      font-size: 17px;
      color: $aside-menu-color;
    }
    .ant-menu-item-selected {
      background: transparent;
      .link-sidebar {
        color: white;
      }
    }
  }
  .menu-item-custom.menu-item-hide {
    padding: 0px;
    display: flex;
    justify-content: center;
  }
  .menu-item-custom.ant-menu-item-selected {
    background: transparent !important;
    .link-sidebar {
      color: white;
    }
  }
}
.sidebar-info {
  position: fixed;
  width: 256px;
  bottom: 0px;
  padding: 20px 20px 0px 20px;
  line-height: 1.2em;
  background-color: #2e3a9c;
}
